<!-- LOGO -->
<div class="logo">
  <div class="logo-brillo"></div>
</div>
<!-- END LOGO -->

<!-- REDES MOVIL-->
  <div class="col-11 text-right redes d-sm-block d-block d-md-none">
 <a href="http://www.facebook.com" title="Facebook Omac Damiac" target="_blank"><i class="omac-damiac-facebook"></i></a>
            <a href="http://www.twitter.com" title="Facebook Omac Damiac" target="_blank"><i class="omac-damiac-twitter"></i></a>
            <a href="http://www.instagram.com" title="Facebook Omac Damiac" target="_blank"><i class="omac-damiac-instagram"></i></a>
  </div>
<!-- END REDES MOVIL -->
<div class="separate"></div>

<!-- FRASE -->
<aside class="mt-md-5 mt-0 position-absolute fixed-bottom">
<div class="hgroup">
  <h1 class="m-0 mb-md-4 mb-0">anxiety!</h1>
  <h2 class="m-0">cigarettes</h2>
  <h3 class="m-0">no longer</h3>
  <h4 class="m-0">HELP.</h4>
</div>
</aside>
<!-- END FRASE -->

