<div class="content p-md-5 p-0">
    <!-- BARRA COLORES -->
    <div class="container d-block d-md-none">
    <div class="row">
    <div class="col-3 o-cyan"></div>
    <div class="col-3 o-magenta"></div>
    <div class="col-3 o-yellow"></div>
    <div class="col-3 o-black"></div>
    <div class="clearfix"></div></div>
    </div>
    <!-- END BARRA COLORES -->

  <div class="container">
    <div class="row">

      <!-- LEFT -->
      <div class="col-md-3 col-12 p-0 position-relative">
        <app-left></app-left>
      </div>
      <!-- END LEFT -->

      <div class="col-md-9 col-12 p-sm-0 p-0 p-md-3">
        <div class="row">

          <!-- REDES DESKTOP -->
          <div class="col-11 text-right d-none d-sm-none d-md-block">
            <a href="http://www.facebook.com" title="Facebook Omac Damiac" target="_blank"><i class="omac-damiac-facebook"></i></a>
            <a href="http://www.twitter.com" title="Facebook Omac Damiac" target="_blank"><i class="omac-damiac-twitter"></i></a>
            <a href="http://www.instagram.com" title="Facebook Omac Damiac" target="_blank"><i class="omac-damiac-instagram"></i></a>
          </div>
          <!-- END REDES DESKTOP -->

          <div class="clearfix"></div>
        </div>

        <!-- SLIDER -->
        <app-collage></app-collage>
        <!-- END SLIDER -->

      </div>
      <div class="clearfix"></div>
    </div>

    <!-- FOOTER -->
    <app-footer></app-footer>
    <!-- FOOTER -->

  </div>

</div>
<!-- <div class="container">
  <img src="assets/shadow.png" height="140" width="100%" alt="">
</div> -->