/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Raph Lanok Future';
  src: url("assets/fonts/RaphLanokFuture.ttf") format("truetype");
  src: url("assets/fonts/RaphLanokFuture.otf");
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("assets/fonts/bebas/BebasNeue-Regular.eot");
  src: url("assets/fonts/bebas/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/bebas/BebasNeue-Regular.woff") format("woff"), url("/assets/fonts/bebas/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Bebas Neue light';
  src: url("/assets/fonts/bebas/ttf/BebasNeue Light.ttf") format("truetype");
  src: url("/assets/fonts/bebas/ttf/BebasNeue Light.otf");
}

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url("/assets/fonts/bebas/ttf/BebasNeue Regular.ttf") format("truetype");
  src: url("/assets/fonts/bebas/ttf/BebasNeue Regular.otf");
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url("/assets/fonts/bebas/ttf/BebasNeue Book.ttf") format("truetype");
  src: url("/assets/fonts/bebas/ttf/BebasNeue Book.otf");
}

@font-face {
  font-family: 'Bebas Neue Thin';
  src: url("/assets/fonts/bebas/ttf/BebasNeue Thin.ttf") format("truetype");
  src: url("/assets/fonts/bebas/ttf/BebasNeue Thin.otf");
}





html {
  font-size: 19px;
}

@media (min-width: 1174px) and (max-width: 1199.98px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (max-width: 1173.98px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 992px) and (max-width: 1023.98px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0 !important;
  background: #e1e5ea;
  color: #414141;
}

a {
  color: #414141;
}

a:hover {
  color: black;
  text-decoration: none;
}

.content {
  margin: 25px 50px 0 50px;
  background: white;
  font-family: 'Bebas Neue';
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  padding-right: 0 !important;
}

@media (max-width: 767.98px) {
  .content {
    margin: 29px;
  }
  .content .redes {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
  }
  .content .position-absolute {
    position: relative !important;
  }
  .content .hgroup {
    text-align: center;
  }
  .content aside {
    position: relative;
  }
  .content h1,
  .content h2,
  .content h3,
  .content h4 {
    font-size: 40px!important;
    display: inline-block;
    line-height: 50px!important;
    letter-spacing: 1px;
  }
}

@media (max-width: 520.98px) {
  .content h1,
  .content h2,
  .content h3,
  .content h4 {
    font-size: 20px!important;
    line-height:20px;
  }
}

.omac-damiac-facebook {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-left: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  cursor: pointer;
  background: #385a96;
}

@media (max-width: 519.98px) {
  .omac-damiac-facebook {
    display: block;
    margin: 10px;
  }
}

.omac-damiac-twitter {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-left: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  cursor: pointer;
  background: #00ade7;
}

@media (max-width: 519.98px) {
  .omac-damiac-twitter {
    display: block;
    margin: 10px;
  }
}

.omac-damiac-instagram {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-left: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  cursor: pointer;
  background: #c03791;
  background: -moz-linear-gradient(45deg, #ffc675 0%, #ce3094 53%, #ce3094 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #ffc675), color-stop(53%, #ce3094), color-stop(100%, #ce3094));
  background: -webkit-linear-gradient(45deg, #ffc675 0%, #ce3094 53%, #ce3094 100%);
  background: -o-linear-gradient(45deg, #ffc675 0%, #ce3094 53%, #ce3094 100%);
  background: -ms-linear-gradient(45deg, #ffc675 0%, #ce3094 53%, #ce3094 100%);
  background: linear-gradient(45deg, #ffc675 0%, #ce3094 53%, #ce3094 100%);
}

@media (max-width: 519.98px) {
  .omac-damiac-instagram {
    display: block;
    margin: 10px;
  }
}
.o-cyan {
  height: 3px;
  display: block;
  background: cyan;
}

.o-magenta {
  height: 3px;
  display: block;
  background: magenta;
}

.o-yellow {
  height: 3px;
  display: block;
  background: yellow;
}

.o-black {
  height: 3px;
  display: block;
  background: black;
}
