@font-face {
    font-family: 'Raph Lanok Future';
    src: url('/assets/fonts/RaphLanokFuture.ttf') format('truetype');
    src: url('/assets/fonts/RaphLanokFuture.otf');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/assets/fonts/bebas/BebasNeue-Regular.eot');
    src: url('/assets/fonts/bebas/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/bebas/BebasNeue-Regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/bebas/BebasNeue-Regular.ttf') format('truetype')/* Safari, Android, iOS */
}

@font-face {
    font-family: 'Bebas Neue light';
    src: url('/assets/fonts/bebas/ttf/BebasNeue Light.ttf') format('truetype');
    src: url('/assets/fonts/bebas/ttf/BebasNeue Light.otf');
}

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('/assets/fonts/bebas/ttf/BebasNeue Regular.ttf') format('truetype');
    src: url('/assets/fonts/bebas/ttf/BebasNeue Regular.otf');
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('/assets/fonts/bebas/ttf/BebasNeue Book.ttf') format('truetype');
    src: url('/assets/fonts/bebas/ttf/BebasNeue Book.otf');
}

@font-face {
    font-family: 'Bebas Neue Thin';
    src: url('/assets/fonts/bebas/ttf/BebasNeue Thin.ttf') format('truetype');
    src: url('/assets/fonts/bebas/ttf/BebasNeue Thin.otf');
}