@import 'variables';
@import 'fonts';
@import 'bar-left';
@import 'footer';
@import 'picture';
html {
    font-size: 19px;
    @media (min-width: 1174px) and (max-width: 1199.98px) {
        font-size: 18px;
    }
    @media (min-width: 1024px) and (max-width: 1173.98px) {
        font-size: 17px;
    }
    @media (min-width: 992px) and (max-width: 1023.98px) {
        font-size: 16px;
    }
    @media (min-width: 767.98px) and (max-width: 991.98px) {
        font-size: 12px;
    }
}

body {
    margin: 0!important;
    background: $bg-color;
    color: $txt-color;
}

a {
    color: $txt-color;
}

a:hover {
    color: black;
    text-decoration: none;
}

// .separate {
//     height: 20vh;
// }
.content {
    margin: 25px 50px 0 50px;
    background: white;
    font-family: 'Bebas Neue';
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    padding-right: 0!important;
    @media (max-width: 767.98px) {
        margin: 29px;
        .redes {
            position: absolute;
            //float: right;
            top: 0;
            right: 0;
            width: 75px;
        }
        .position-absolute {
            position: relative!important;
        }
        .hgroup {
            text-align: center;
        }
        aside {
            position: relative;
        }
        h1,
        h2,
        h3,
        h4 {
            font-size: 40px;
            display: inline-block;
            line-height: 50px;
            letter-spacing: 1px;
        }
    }
    @media (max-width: 609.98px) {
        h1,
        h2,
        h3,
        h4 {
            font-size: 20px;
        }
    }
}

@mixin cdr {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-left: 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    cursor: pointer;
    @media (max-width: 519.98px) {
        display: block;
        margin: 10px;
    }
}

.omac-damiac {
    &-facebook {
        @include cdr;
        background: #385a96;
    }
    &-twitter {
        @include cdr;
        background: #00ade7;
    }
    &-instagram {
        @include cdr;
        background: #c03791;
        background: -moz-linear-gradient(45deg, rgb(255, 198, 117) 0%, rgb(206, 48, 148) 53%, rgb(206, 48, 148) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgb(255, 198, 117)), color-stop(53%, rgb(206, 48, 148)), color-stop(100%, rgb(206, 48, 148)));
        background: -webkit-linear-gradient(45deg, rgb(255, 198, 117) 0%, rgb(206, 48, 148) 53%, rgb(206, 48, 148) 100%);
        background: -o-linear-gradient(45deg, rgb(255, 198, 117) 0%, rgb(206, 48, 148) 53%, rgb(206, 48, 148) 100%);
        background: -ms-linear-gradient(45deg, rgb(255, 198, 117) 0%, rgb(206, 48, 148) 53%, rgb(206, 48, 148) 100%);
        background: linear-gradient(45deg, rgb(255, 198, 117) 0%, rgb(206, 48, 148) 53%, rgb(206, 48, 148) 100%);
        //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffc675', endColorstr='#ce3094', GradientType=1);
    }
}

@mixin bar-color {
    height: 3px;
    display: block;
}

.o {
    &-cyan {
        @include bar-color;
        background: cyan
    }
    &-magenta {
        @include bar-color;
        background: magenta
    }
    &-yellow {
        @include bar-color;
        background: yellow
    }
    &-black {
        @include bar-color;
        background: black
    }
}